*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: grid;
    grid-template-areas: 
    "header header"
    "ofertas ofertas"
    "aside main"
    "footer footer";
    grid-template-columns: 15% 85%;
    grid-template-rows: 5rem auto auto 8rem;
    background-color: #202020;
}

/* header */
.logo img{
    height: 30px;
    width: 30px;
}
.marca{
    width: 170px;
}
header{
    grid-area: header;
    background-color: #262935;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 2rem;
}

/* aside */
aside{
    grid-area: aside;
    background-color: #202020;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;    
}
nav{
  margin: 1rem;
  background-color: #41465a;
  border-radius: 10%;
  color: white;
}
a{
  list-style: none;
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}
a:visited{
  color: white;
}
.cat h3{
  margin: 1em;
}
.cat{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  padding: 1rem;
}
aside a:hover{
  color: rgb(81, 134, 31);
}
aside h4:hover{
  color: rgb(81, 134, 31);
}
.aside_hr{
  margin-bottom: 1em;
  width: 50%;
}

/*SLIDER*/
.slider{
  width: 80%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track{
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;;
  width: calc(200px *20);
}

.slide .slide{
  width: 200px;
}

.slider .slide img{
  width: 100%;
}

@keyframes scroll {
  0%{
    -webkit-transform:translateX(0);
    transform: translateX(0);
  }
  100%{
    -webkit-transform:translateX(calc(-200px *10));
    transform: translateX(calc(-200px *10));
  }
}
/* main */
main{
  grid-area: main;
  background-color: #202020;
  padding-top: 16px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main h2{
  padding-bottom: 1rem;
}
/*GRID MAIN GAME*/
.gridcont_2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 16px; 
    padding-bottom: 16px;
}

.gridcont_3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 16px;  
    padding-bottom: 16px;
}
/*MAIN GAME CONTAINERS*/
.game {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* Proporción 16:9 para el contenedor (ajustable según la relación de aspecto del video) */
    overflow: hidden;
    background-color: black;
}
  .imagen, .video {
    width: 100%;
    object-fit: cover; /* Para asegurarse de que la imagen o el video cubran todo el contenedor */
    position: absolute;
    top: 0;
    left: 0;
  }
  .video {
    display: none;
  }
  .main_container{
    width: 80%;
    margin: 0 auto; /*centrar grid*/
  }
  .game_container {
    display: flex;
    flex-direction: column;
  }

  .stat_container{
    position:absolute;
    display: flex;
    width: 100%;
    height: 15%;
    justify-content:end;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    left: 0;
    background-color: rgba(18, 20, 27, 0.8);
  }
  .stat_container i,p,h3{
      padding-right: 1em;
      font-size: 1em; 
      margin: 0; 
      margin: auto 0;
      max-width: 100%; 
  }
  #stat_img{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid black;
  }
  .game_stat{
    display: flex;
    flex-direction: column;
  } 
  .gamename{
    padding: 0;
    margin: 0;
    position: absolute;
    opacity: 0;
    max-width: 60%;
    text-align: end;
    text-wrap: wrap;
    font-size: 80%;
  }
  .stat_0 p{
    color: rgb(29, 228, 10);
  
  }
  hr{
    background-color: #7d7e83;
    width: 75%;
  }

  /*HOVER MAIN*/
  .game:hover{
    scale: 1.4;
    transition: 1.5s ease-in;
    z-index: 1;
  }

  .game:hover .video{
    display: block; /* Mostrar el contenedor */
}
    .game:hover #stat_img{
    opacity: 1; /* Mostrar el contenedor */
    z-index: 1;
}   
    .game:hover .gamename{
    opacity: 1; /* Mostrar el contenedor */
    z-index: 1;
    font-size: 100%;
} 
  .game:hover .imagen {
    display: none; /* Ocultar  el contenedor */    
  }
  .game:hover .stat_0 {
    opacity: 0; /* Ocultar  el contenedor */    
  }

/*main lucha*/

/*ofetas*/
/*articulos*/
.ofertas{
  grid-area: ofertas;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 80%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('../img/bAV.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 1rem;
}
.ofertas::before {
  content: "";
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* Ajusta esta altura según el grado de oscurecimiento deseado */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.ofertcont{
  display: flex;
  flex-direction: column;
  background-color: #41465a;
  padding: 4px;
}

.ofertcont button{
height: 30px;
color: white;
background-color: #46b911;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 5%;
border-color: rgba(0, 0, 0, 0.5);
border-style: solid;
border-width: 2px;
margin-top: 1rem;
font-size: medium;
}

.bt1{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: x-large;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 2px 2px 2px black;
  height: 4rem;
  margin-top: 1rem;
}
del{
  font-size: small;
}
#card {
  position: relative;
  width: 250px;
  transition: all .3s ease;
}

#card img:first-child{
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

#card img:last-child{
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: .3s ease;
  opacity: 0;
}

/*animacion aticulos oferta*/
#card:hover{
  transform: 
    perspective(250px)
    rotateX(10deg)
    translateY(-5%)
    translateZ(0);
}
#card::before{
  content:'';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 5%,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0) 95%
  ) ;
  opacity: 0;
  transition: all 0.3s ease;
}
#card:hover::before{
  opacity: 1 ;
}
#card:hover img:last-child {
  opacity: 1;
  transform: translateY(10%);
}
button:hover{
  scale: 1.1;
}

/* footer */
footer{
    grid-area: footer;
    background-color: #262935;
    color: white;
}
footer img{
  filter: grayscale(80%);
  padding-right: 1rem;
}
footer .marca{
  width: 100px;
}
.footer-container{
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer i{
  padding-right: 2rem;
}
.iconos-rrss{
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;  
  display: flex;
}

.iconos-rrss i{
  animation-name: gira;
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: infinite ;
  animation-timing-function: linear;
  display: inline-block;
}

@keyframes gira{

  From{
    transform: rotate(0deg);
  }to{
    transform:rotate(360deg);
  }
}

.iconos-rrss i:hover{
  animation:none;
  scale: 1.2;
}


@media (max-width: 992px){
  body {
      display: grid;
      grid-template-areas:
      "header   header"
      "aside    aside"
      "ofertas  ofertas"
      "main     main"
      "footer   footer";
      grid-template-rows: 5rem auto auto auto 8rem;
    }
}

@media (max-width: 670px){

  .ofertas{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  /* #card:hover {
    display: none;
  }
  #card::before{
    display: none;
  }
  #card:hover::before {
    display: none;
  }
  #card:hover img:last-child {
    display: none;
  } 
  button:hover {
    display: none;
  }
  .footer-container{
    display: flex;
    flex-direction: column;
  }
  .oferta1:last-child{
    display: none; */
  }
  .game:hover{
    scale: 1;
    transition: 1.5s ease-in;
    z-index: 1;
  }

}